<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <h1>Store</h1>
      <% if(username) {%>
          Hello, <%=username%>
      <%}%>
      <ul>
          <% for(let i = 0; i < arcade.length; i++){%>
            <h2> <%=Arcade.Game%> </h2>
              <img src="<%=Arcade.Image%>" alt="<%=Arcade.Game%>">
          <%}%>
      </ul>
    </div>
  </body>
</html>
