<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <h1> Arcade Cabinets for Sale</h1>
  <form action="/arcade" method="POST">
    Game: <input type="text" name="Game"/><br/>
    Publisher: <input type="text" name="Publisher"/><br/>
    Image: <input type="text" name="Image"/><br/>
    Year: <input type="number" name="Year"/><br/>
    Genre: <input type="text" name="Genre"/><br/>
    Price: <input type="number" name="Price"/><br/>
  </form>
</body>
</html>
