<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1></h1>
      <nav>
        <ul>
          <li>
            <a href="Log In"></a>
          </li>
          <li>
            <a href="Register"></a>
          </li>
        </ul>
      </nav>
  </body>
</html>
