<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/public/app.css">
  </head>
  <body>
    <h1>Welcome to my Webpage</h1>
      <a href="/sessions/new">Log In</a>
      <a href="/users/new">Sign Up</a>
        </li>
      </ul>
    </nav>
    
  </body>
</html>
