<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Arcade Shop</title>
  <link rel="stylesheet" href="app.css">
</head>
<body>
  <h1>Arcade Shop</h1>
  <div class="login-row">
    <ul class>
      <li>
        <a href="/sessions/new">Log In</a>
        |
        <a href="/users/new">Register</a>
      </li>
    </ul>
  </div>
  <br>
  <main>
    <!--Make Summary !-->

  </main>
  <br>
  <div class="container">
    <div class="section">
      <div class="row">
        <table>
          <thead>
            <tr>
              <th>Game</th>
              <th>Publisher</th>
              <th>Image</th>
              <th>Year</th>
              <th>Genre</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Donkey Kong</td>
              <td><img src="http://logok.org/wp-content/uploads/2014/12/Nintendo-logo-red.png"</td>
              <td><a href="https://www.gameroom-goodies.com/donkey-kong-arcade-video-game-machine/?gclid=EAIaIQobChMIiN_KjpLo5gIVFG6GCh2W9gqAEAQYBCABEgI1LPD_BwE"><img src="https://arcadespecialties.com/wp-content/uploads/2016/08/Donkey.Kong_.Arcade.Gamessssss.jpg"</a></td>
              <td>1981</td>
              <td>Platform</td>
              <td>$3295</td>
            </tr>
            <tr>
              <td>Galaga</td>
              <td><img src="https://plughitzlive.com/images/news/logos/midway.png"</td>
              <td><a href="https://www.walmart.com/ip/Galaga-Arcade-Machine-with-Riser-Arcade1UP/862068428"><img src="https://cdn.shopify.com/s/files/1/0082/4092/2686/products/cabinet-galaga_2048x.png?v=1562772777"</a></td>
              <td>1981</td>
              <td>Shooter</td>
              <td>$369</td>
            </tr>
            <tr>
              <td>Mario Bros</td>
              <td><img src="http://logok.org/wp-content/uploads/2014/12/Nintendo-logo-red.png"</td>
              <td><a href="https://www.gameroom-goodies.com/super-mario-bros-mario-bros-arcade-video-game/?gclid=EAIaIQobChMI39-q-Jjo5gIVSD0MCh3ApwC2EAkYBSABEgJbqfD_BwE"><img src="https://cdn11.bigcommerce.com/s-3m2fqnw/images/stencil/original/products/8633/15778/Mario_brothers__54222.1510605765.jpg?c=2&imbypass=on"</a></td>
              <td>1983</td>
              <td>Platform</td>
              <td>$3695</td>
            </tr>
            <tr>
              <td>Mortal Kombat</td>
              <td><img src="https://plughitzlive.com/images/news/logos/midway.png"</td>
              <td><a href="https://www.gameroom-goodies.com/mortal-kombat-arcade-video-game/?gclid=EAIaIQobChMIh8Wh6Jbo5gIVjZ-fCh2nngFmEAkYBiABEgIjLfD_BwE"><img src="https://cdn11.bigcommerce.com/s-3m2fqnw/images/stencil/original/products/8652/16038/Mortal_Kombat_Arcade_Game_Med__12828.1518203481.jpg?c=2&imbypass=on"</a></td>
              <td>1992</td>
              <td>Fighting</td>
              <td>$3495</td>
            </tr>
            <tr>
              <td>NBA Jam</td>
              <td><img src="https://plughitzlive.com/images/news/logos/midway.png"</td>
              <td><a href="https://www.gameroom-goodies.com/nba-jam-arcade-video-game/?gclid=EAIaIQobChMInuv5rZjo5gIVBmyGCh0EbQdGEAQYAiABEgLoSfD_BwE"><img src="https://cdn11.bigcommerce.com/s-3m2fqnw/images/stencil/500x659/products/8632/16678/NBA-Jam-Arcade-Game__84171.1564102667.jpg?c=2&imbypass=on"</a></td>
              <td>1993</td>
              <td>Sports</td>
              <td>$3495</td>
            </tr>
            <tr>
              <td>Pac-Man</td>
              <td><img src="https://plughitzlive.com/images/news/logos/midway.png"</td>
              <td><a href="https://www.hsn.com/products/arcade1up-pacman-full-size-5-ft-arcade-machine-and-rise/9327002?sz=6&sf=EC0313&ac=&utm_source=google&utm_medium=shopping%20engine&utm_term=&utm_campaign=GShopping%7CH%7CProven+Winners&utm_content=53850776537_pla-342218793760_9327002&gclid=EAIaIQobChMI15iy45fo5gIVluDICh33YQDnEAkYASABEgIQw_D_BwE"><img src= "https://cdn.shopify.com/s/files/1/0082/4092/2686/products/cabinet-pacman_2048x.png?v=1562774749"</a></td>
              <td>1980</td>
              <td>Maze</td>
              <td>$399</td>
            </tr>
            <tr>
              <td>Space Invaders</td>
              <td><img src="https://plughitzlive.com/images/news/logos/midway.png"</td>
              <td><a href="https://www.walmart.com/ip/Space-Invaders-Arcade-Machine-Arcade1UP-4ft-Walmart-Exclusive/678837037"><img src="https://image.smythstoys.com/original/desktop/174308.jpg"></a></td>
              <td>1978</td>
              <td>Shooter</td>
              <td>$299</td>
            </tr>
            <tr>
              <td>Street Fighter II</td>
              <td><img src="http://upload.wikimedia.org/wikipedia/commons/2/2f/Capcom_logo.png"</td>
              <td><a href="https://www.walmart.com/ip/Street-Fighter-2-Arcade-Machine-Arcade1UP-4ft/994342377"><img src = "https://cdn.shopify.com/s/files/1/0082/4092/2686/products/cabinet-SF2_2048x.png?v=1562774870"</a></td>
              <td>1991</td>
              <td>Fighting</td>
              <td>$299</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
</html>
<footer>
  <!-- Make Footer!-->
</footer>
