body {
  background-color: #FFFFF0;
}
img {
  width: 25%;
}
div {

}
nav {

}
.login-row, a{
  text-decoration: none;
  color: black;
}
.container {
  display: flex;
}
h1 {
  font-family:
  font-size:
  font-weight:
}
h2 {
  font-family:
  font-size:
  font-weight:
}
ul {

}
li {
  list-style-type: none;
}
table {
border-spacing: 0.5em;
width: auto;
width: 95%;
}
thead {

}
tbody{

}
tr {

}
td, th {
  padding: 0.5em;
  text-align: center;
}
