body {
  background-color: #FFFFF0;
}
img {
  width: 25%;
}
.login-row, a {
  text-decoration: none;
  color: black;
}
.container {
  display: flex;
}
h1 {
  font-family: Helvetica;
}
ul {
  font-family: Helvetica;
  font-size: 15px;
}
li {
  list-style-type: none;
}
table {
  border-spacing: 0.5em;
  width: 80%;

}
tr, th {
  font-family: Helvetica;
  font-size:
}
tr, td {
  font-family: Helvetica;
  font-size: 35px;
}
tr, td, img {
  width: 50%;
}
tr, td, a {
  width: 40%;
}
td, th {
  font-family: Helvetica;
  padding: 0.5em;
  text-align: center;
}
