<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <h1>Registration</h1>
  <form action="/users" method="post">
    Username: <input type="text" name="" /><br/>
    Password: <input type="text" name="" /><br/>
    <input type="submit" value="Create Account">
  </form>
</body>
</html>
